body {
    padding-top: 70px; /* Adjust this value according to your navigation bar height */
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease; /* Smooth transition effect */
}

.navbar.scrolled {
    background-color: black; /* Change the background color upon scrolling */
}
