body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 13px;
    color: white;
    text-decoration: none;
    left: -220px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar a:hover {
    color: rgb(222, 60, 60);
}

.navbar a::before {

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(222, 60, 60);
    transition: .6s;
}

.navbar a:hover::before {
    width: 100%;
}

.logo img {
    position: relative;
    left: -56px;
    width: 235px;
    height: 55px;
}

.icons {
    position: absolute;
    font-size: 2.6rem;
    right: 16%;
    color: white;
    cursor: pointer;
    display: none;
}



#home::before {

    width: 100%;

}



.navbar-color {
    background-color: #1e2227;
    transition: .15s;
}

#check {
    display: none;
}

.header::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

@media(max-width:1100px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media(max-width:600px) {
    .navbar {
        position: relative;
        padding-left: 175px;
    }

    #gym-title {
        padding-left: 50px;
    }

}


@media(max-width:1084px) {
    .icons {
        display: inline-flex;
    }


    .navbar a:hover::before {
        width: 0;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #home::before {

        width: 0;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #12141858;
        backdrop-filter: blur(120px);
        transition: .3s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 24.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.3rem 0;
        text-align: center;
    }
}


#gym-title {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(231, 55, 55);
    font-weight: bolder;
    text-shadow: #010916;
    transform: translateX(-50px);
}


/* main image css */

.main-img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    position: relative;

}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);    /* color of the scroll thumb */
  }
  


.fcontainer {
    background-color: rgb(31, 31, 31);    /* color of the scroll thumb */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-col ul {
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.f-col {
    color: white;
    width: 25%;
    padding: 10px 15px;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.f-col h3 {
    font-size: 18px;
    font-family: 'Zapf';
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 32px;
    position: relative;
}

/* 3lshan a3ml Line taht el h3 */
.f-col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(231, 55, 55);
    height: 2px;
    width: 50px;
}

.f-col ul li {
    margin-bottom: 10px;
}

.f-col ul li a {
    text-decoration: none;
    color: #bbbbbb;
    /* transition 3lshan el hover */
    transition: all 0.3s ease;
}

.f-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.f-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.f-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.f-col .social-links a p {
    padding: 10px;
}

.social-links a i {

    margin-top: 8px;
}

#footertwitter:hover {

    color: rgb(231, 55, 55);
}

#footertig:hover {

    color: rgb(231, 55, 55);
}

#footerfb:hover {

    color: rgb(231, 55, 55);
}