#add-body{
    margin-top: 10px;
     width: 93%;
     height: 30%;
     float: right;
     overflow: auto;
    
 }
 input{
     border-radius: 12px;
     border: none;
     background-color: rgb(239, 239, 239);
 }
 @media only screen and (max-width: 1000px) {
   input{
     margin-bottom: 10px;
     width: 100%;
   }
 
   #add-body{
     width: 85%;
 
   }
   #emp-addr{
     width: 100%;
      }
   }
   hr{
   
    border-top: 2px solid black;
   
   }
   #add-btn{
      text-align: center;
      width: 150px;
      background-color: rgb(48, 48, 48);
      color: white;
      border: none;
      border-radius: 10px;
      height: 30px;
      transition: 0.8s ease;
      letter-spacing: 1px;
    }
    
    #add-btn:hover{
      letter-spacing: 2px;
      background-color: rgb(90, 89, 89);
    }
   
  tbody{
   max-height: 100px;
  }
  #tablediv{
 
   max-height: 400px;
   overflow: auto;
  }
  #empimg{
   border-radius: 50%;
   width: 150px;
   height: 150px;
  }
  #imgfile{
   border-radius: 0px;
   background-color: transparent;
   height: 30px;
  }
  .un{
   background-color: transparent;
 
  }
  #emp-addr{
 width: 60%;
  }
  #viewclients{
    position: absolute;
  left: 200px;
  right: 200px;
  top: 100px;
  bottom: 100px;
height: 70vh;
background-color: rgb(255, 255, 255);
display: none;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  @media only screen and (max-width: 600px) {
    #viewclients{
      left: 90px;
      right: 30px;
      top: 50px;
      bottom: 50px;
    height: 70vh;
    }
  }


  .admin-classes-css {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    padding-top: 20px;
    color: rgb(36, 34, 34);
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

span[id$="-err"],
#success {
    color: red;
    font-size: 16px;
}

.file-input-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .custom-file-input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa; /* Light gray background color, you can adjust this */
    }
    .form-group {
        margin-bottom: 15px;
    }


    select {
        width: 50%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="text"],
input[type="file"],
input[type="time"],
input[type="number"],
input[type="email"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}