#add-body {
  margin-top: 10px;
  width: 93%;
  height: 30%;
  float: right;
  overflow: auto;

}

input {
  border-radius: 12px;
  border: none;
  background-color: rgb(239, 239, 239);
  padding: 2px;
  text-align: center;
}

#info-intro {
  transform: translateY(30px);
}

#info-intro h3{
  color: rgb(111, 20, 38);
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.bgrb{
  font-family: 10px;
  letter-spacing: 1px;
  color: rgb(129, 129, 129);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1000px) {
  input {
    margin-bottom: 10px;
    width: 100%;
  }

  #add-body {
    width: 85%;

  }

  #emp-addr {
    width: 100%;
  }
}

hr {

  border-top: 2px solid black;

}



#add-btn {
  text-align: center;
  width: 150px;
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  border-radius: 10px;
  height: 30px;
  transition: 0.8s ease;
  letter-spacing: 1px;
}

#add-btn:hover{
  letter-spacing: 2px;
  background-color: rgb(90, 89, 89);
}

tbody {
  max-height: 100px;
}

#tablediv {
  max-height: 400px;
  overflow: auto;
  color: #29516d;
  font-size: 15px;
  border-spacing: 0;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

#tablediv tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

#tablediv tbody tr:hover {
  background-color: #ecf7ff;
}

#empimg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(70px);
}

#imgfile {
  border-radius: 0px;
  background-color: transparent;
  height: 30px;
}

.un {
  background-color: transparent;

}

#emp-addr {
  width: 60%;
}

.session-payment {
  border: none;
  cursor: pointer;
  background-color: #ecfff4;
  padding: 5px;
}

.acc-det {
  color: rgb(147, 26, 50);
  text-transform: uppercase;
  padding-bottom: 35px;
  padding-top: 85px;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input[type="file"] {
  display: none;
}

label[for="imgfile"] {
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.9s ease;
}

label[for="imgfile"]::before {
  content: "Choose File";
}

label[for="imgfile"]:hover {
  background-color: rgb(147, 26, 50);
}



#account-details{
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 100px;
}

.bold-dets{
font-weight: bold;
color: rgb(97, 97, 97);
}

input[type="text"]{
  color: rgb(90, 90, 90);

}


/* ---------- client details */

#search-client{
  transform: translateY(-100px);
  padding-left: 50px;
  margin-right: -50px;
  margin-bottom: 0;
}

.table-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  padding-top: 20px;
  color: rgb(36, 34, 34);
  padding-left: 40px;
  padding-bottom: 30px;
}