.profile {
    height: 100vh;
    position: relative;
    left: 290px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.profile {
    left: 150px;
    width: calc(100% - 150px);
}

.gymfooter {
    position: relative;
    left: 240px;
    width: calc(100% - 240px);
    transition: all 0.5s ease;
}

.sidebar.close~.gymfooter {
    left: 70px;
    width: calc(100% - 70px);
}


.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.container {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* Coaches editor page start */
.table {
    border: 1px solid rgb(170, 170, 170);
    width: 80%;
    margin: 0 7% 0 13%;
}

.modify-coaches {
    width: 70%;
    margin: 0 5% 0 25%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modify-coaches-btn {
    background-color: rgb(36, 35, 39);
    color: white;
    padding: 10px;
    width: 20%;
    margin-left: 3%;
}
.modify-coaches-btn :hover {
    background-color: #b83f3f;
    transition: 1s ease;
}

@media (max-width: 890px) {
    .table {
        margin: 0 3% 0 17%;
    }

}

@media (max-width: 450px) {
    .coaches-title {
        margin: 0 0 0 20%;
        font-size: 25px;
    }

    .table {
        margin: 0 0 0 20%;
        font-size: 12px;
    }

    .modify-coaches {
        margin: 2% 0 2% 30%;
    }
}

/*  Coaches editor page end*/