.main-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.class-name-box {
    background: rgba(255, 255, 255, 0.6);
    color: #000000;
    padding: 10px 20px;
    position: absolute;
    top: 110px;
    left: 20px;
    letter-spacing: -1px;
    /*     
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -150%);  */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}

.class-name {
    margin: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.class-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.class-item {
    background: rgba(255, 255, 255, 0.5);

    border: 1.5px solid #232323;
    margin: 10px;
    padding: 20px;
    width: 300px;
    transform: translateY(-450px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


.class-info {
    margin-top: 10px;
}

.availspaces {
    font-weight: bold;
}

.available {
    color: rgb(26, 115, 26);
}

.unavailable {
    color: red
}

.reserve-class {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.reserve-class:hover {
    background-color: #000000;
    color: white;
}

#class-snippet p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #989898;

}

#class-snippet {
    transform: translateY(-300px);
    padding: 30px;


}

.class-instructor {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(176, 37, 37);
    letter-spacing: -1px;

}


.instructors-container {
    display: flex;
    /* to place instructors side by side */
    align-items: center;
}

.instructor {
    display: flex;
    align-items: center;
    margin: 20px;
}

.instructor-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.instructor-details {
    text-align: left;
}



@media (max-width: 1084px) {
    .class-details {
        transform: translateY(200px);
        padding-bottom: 100px;
    }
}