
/* Main Content Start */
/* image start */
.main-img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    position: relative;

}

/* #welcome-image {
    padding-bottom: 500px;
} */

/* For screens with a maximum width of 1084px */
@media (max-width: 1084px) {
    .main-img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    #welcome-image {
        padding-bottom: 300px;
        /* Adjust as needed */
    }
}
/* Main Content End */

/* grid 1 starts */
.gridboxes1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 150vh; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -5px;
}

.box1,
.box2,
.box3 {
    flex: 0 0 calc(33.33% - 40px);
    /* Adjust the percentage as needed */
    /* max-width: calc(33.33% - 40px); Adjust the percentage as needed */
    padding: 20px;
    padding-top: 140px;
    padding-bottom: 415px;
    text-align: center;
}

.box1 {
    background-color: #1d1e21;
}

.box2 {
    background-color: #b83f3f;
}

.box3 {
    background-color: #efefef;
}

.box1 h2,
.box2 h2,
.box3 h2,
.box1 p,
.box2 p {
    color: azure;
}

.box3 p,
.box3 h2 {
    color: #000;
}



@media(max-width:1084px) {

    .gridboxes1 {
        transform: translateY(-300px);


    }

    .box1,
    .box2,
    .box3 {

        padding-top: 40px;
        padding-bottom: 130px;
    }

}

/* .italic-line {
    transform: translateY(-100px);
} */

.italic-line-data {
    background: #24262b;
    color: #dcdcdc;
    text-align: center;
    /* transform: translateY(-100px); */
    padding-bottom: 50px;


}

.italic-line-data h1 {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b83f3f;

}

.italic-line-data p {
    padding-bottom: 50px;
    transform: translateY(-50px);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ends */


/* info starts */
.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-460px);

}

.infoh1 {
    font-size: 65px;
    transform: translateY(-100px);
}

.infop {
    transform: translateY(-50px);
    color: #333335;
}

.info-text {
    flex: 1;
    /* Grow to fill available space */
    padding: 70px;
}

.info-image {
    flex-shrink: 0;
    /* Prevent the image from shrinking */
    max-width: 50%;
    padding-right: 150px;
}

.info-image img {
    max-width: 100%;
    height: auto;

    /* width: auto\9;  */
}

.resp-img {
    display: none;
}

/* info ends */

@media (max-width: 1084px) {
    .info-content {
        flex-wrap: wrap;
        transform: translateY(-450px);
    }

    .none-resp-img {
        display: none;
    }

    
    img.resp-img {
        display: block;
        max-width: 520px;
        height: auto;
        margin-left: 12px;

        
    }
}

.italic-line-data p {
    padding: 40px;
}

.italic-line {
    transform: translateY(-450px);

}

.italic-line-data {
    transform: translateY(-550px);


}

/* grid end */
