body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

/* Navigation Bar Start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 13px;
    color: white;
    text-decoration: none;
    left: -220px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar a:hover {
    color: rgb(222, 60, 60);
}

.navbar a::before {

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(222, 60, 60);
    transition: .6s;
}

.navbar a:hover::before {
    width: 100%;
}

#gym-title {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(231, 55, 55);
    font-weight: bolder;
    text-shadow: #010916;
    transform: translateX(-50px);
}

.icons {
    position: absolute;
    font-size: 2.6rem;
    right: 16%;
    color: white;
    cursor: pointer;
    display: none;
}

#home::before {

    width: 100%;

}

.navbar-color {
    background-color: #1e2227;
    transition: .15s;
}

#check {
    display: none;
}

.header::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 20%, transparent 70%);
    backdrop-filter: blur(10px);
    z-index: -1;
}

@media(max-width:1100px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media(max-width:600px) {
    .navbar {
        position: relative;
        padding-left: 175px;
    }

    #gym-title {
        padding-left: 50px;
    }

}

@media(max-width:600px) {
    .icons {
        display: inline-flex;
    }


    .navbar a:hover::before {
        width: 0;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #home::before {

        width: 0;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #12141858;
        backdrop-filter: blur(120px);
        transition: .3s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 24.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.3rem 0;
        text-align: center;
    }

    #gym-title {
        margin-left: 20px;
    }
}

@media(max-width:1084px) {
    .icons {
        display: inline-flex;
    }


    .navbar a:hover::before {
        width: 0;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #home::before {

        width: 0;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #12141858;
        backdrop-filter: blur(120px);
        transition: .3s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 24.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.3rem 0;
        text-align: center;
    }

    #gym-title {
        padding-left: 30px;
    }
}

/* Navigation Bar End */

/* Main Content Start */
/* image start */
.main-img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    position: relative;

}

#welcome-image {
    /* padding-bottom: 500px; */
}

/* For screens with a maximum width of 1084px */
@media (max-width: 1084px) {
    .main-img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    #welcome-image {
        padding-bottom: 300px;
        /* Adjust as needed */
    }
}


body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    /* color of the scroll thumb */
}

/* main image ends */


/* grid 1 starts */
.gridboxes1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 150vh; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -5px;
}

.box1,
.box2,
.box3 {
    flex: 0 0 calc(33.33% - 40px);
    /* Adjust the percentage as needed */
    /* max-width: calc(33.33% - 40px); Adjust the percentage as needed */
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 180px;
    text-align: center;
}

.box1 {
    background-color: #1d1e21;
}

.box2 {
    background-color: #b83f3f;
}

.box3 {
    background-color: #efefef;
}

.box1 h2,
.box2 h2,
.box3 h2,
.box1 p,
.box2 p {
    color: azure;
}

.box3 p,
.box3 h2 {
    color: #000;
}



@media(max-width:1084px) {

    .gridboxes1 {
        transform: translateY(-300px);


    }

    .box1,
    .box2,
    .box3 {

        padding-top: 40px;
        padding-bottom: 130px;
    }

}




.italic-line {
    transform: translateY(-210px);
}


.italic-line-data {
    background: #24262b;
    color: #dcdcdc;
    text-align: center;
    transform: translateY(-300px);
    padding-bottom: 50px;


}

.italic-line-data h1 {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b83f3f;

}

.italic-line-data p {
    padding-bottom: 50px;
    transform: translateY(-50px);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ends */


/* info starts */
.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-220px);

}

.infoh1 {
    font-size: 65px;
    transform: translateY(-100px);
}

.infop {
    transform: translateY(-50px);
    color: #333335;
}

.info-text {
    flex: 1;
    /* Grow to fill available space */
    padding: 70px;
}

.info-image {
    flex-shrink: 0;
    /* Prevent the image from shrinking */
    max-width: 50%;
    padding-right: 150px;
}

.info-image img {
    max-width: 100%;
    height: auto;

    /* width: auto\9;  */
}

.resp-img {
    display: none;
}




/* info ends */

@media (max-width: 1084px) {
    .info-content {
        flex-wrap: wrap;
        transform: translateY(-450px);
    }

    .none-resp-img {
        display: none;
    }

    
    img.resp-img {
        display: block;
        max-width: 520px;
        height: auto;
        margin-left: 12px;

        
    }
}

.italic-line-data p {
    padding: 40px;
}

.italic-line {
    transform: translateY(-450px);

}

.italic-line-data {
    transform: translateY(-550px);


}



/* grid end */

/* Footer Start */
.footer {
    background-color: #24262b;
    padding: 30px 0;
}

.footer-container {
    max-width: 95%;
    margin: auto;
}

.footer-container .footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(231, 55, 55);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul p {
    font-size: 16px;
    width: 70%;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Footer End */