body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

/* Navigation Bar Start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 13px;
    color: white;
    text-decoration: none;
    left: -220px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar a:hover {
    color: rgb(222, 60, 60);
}

.navbar a::before {

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(222, 60, 60);
    transition: .6s;
}

.navbar a:hover::before {
    width: 100%;
}

#gym-title {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(231, 55, 55);
    font-weight: bolder;
    text-shadow: #010916;
    transform: translateX(-50px);
}

.icons {
    position: absolute;
    font-size: 2.6rem;
    right: 16%;
    color: white;
    cursor: pointer;
    display: none;
}

#home::before {

    width: 100%;

}

.navbar-color {
    background-color: #1e2227;
    transition: .15s;
}

#check {
    display: none;
}

.header::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

@media(max-width:1100px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media(max-width:600px) {
    .navbar {
        position: relative;
        padding-left: 175px;
    }

    #gym-title {
        padding-left: 50px;
    }

}


@media(max-width:1084px) {
    .icons {
        display: inline-flex;
    }


    .navbar a:hover::before {
        width: 0;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #home::before {

        width: 0;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #12141858;
        backdrop-filter: blur(120px);
        transition: .3s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 24.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.3rem 0;
        text-align: center;
    }
    #gym-title {
        padding-left: 30px;
    }
}

/* Navigation Bar End */

/* Main Content Start */
/* image start */
.main-img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    position: relative;

}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    /* color of the scroll thumb */
}

/* Main Content End */
/* image end */

/* Footer Start */
.footer {
    background-color: #24262b;
    padding: 30px 0;
}

.footer-container {
    max-width: 95%;
    margin: auto;
}

.footer-container .row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(231, 55, 55);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul p {
    font-size: 16px;
    width: 70%;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Footer End */