/* Main Content Start */
/* image start */
.main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.img-text {
    position: absolute;
    top: 75%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: transparent;
}

.img-text h1 {
    font-size: 50px;
    color: white;
    margin: 0;
}

@media (max-width: 1084px) {
    .main-img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    #welcome-image {
        padding-bottom: 300px;
        /* Adjust as needed */
    }
}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card-body {
    padding: 20px;
    margin-top: -10px;
}

.col h6 i {
    margin-right: 10px;
    color: green;
}

.card-title {
    padding: 5px;
}

#price {
    color: green;
    padding: 5px;
}

.btn-primary {
    border-radius: 50px;
    color: black;
    background-color: white;
    border-color: black;
    width: 40%;
}

.btn-primary:hover {
    background-color: rgb(222, 60, 60);
    color: white;
}
