@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.dietplan-details{
    height:280vh;
    position:relative;
    left:310px;
    transition: all 0.5s ease;
    margin-bottom:3%;
    width:60%;

}

 .sidebar.close ~ .dietplan-details{
    left:170px;
} 

.gymfooter{
    position:relative;
    left:240px;
    width:calc(100% - 240px);
    transition: all 0.5s ease;
    
}

.sidebar.close ~ .gymfooter{
    left:70px;
    width:calc(100% - 70px);
}


h2{
    color:#b55353;
}